<html>
<head>
</head>
<body ng-app="radix-converter" ng-controller="mainController">
    <div class="container">
        <p ng-repeat="(radix, msg) in radixInfo">{{msg}}:
            <input ng-focus="switchRadix(radix)"
                   ng-model="values[radix]">
        </p>
    </div>
    <form name="calc">
        <div class="arguments">
        </div>
    </form>
    <div id="output"></div>
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./app/app.js"></script>
</body>
</html>