<html>
<head>
</head>
<body ng-app="radix-calculator">
<div class="container" ng-controller="converter">
    <h1>Converter (when input is invalid no conversion will be done)</h1>
    <div ng-repeat="(radix, msg) in radixInfo">
        <label>{{msg}}:
            <input ng-focus="switchRadix(radix)"
                   ng-model="values[radix]">
        </label>
    </div>
</div>
<div ng-controller="calculator">
    <h1>Calculator</h1>
    <div>
        <label>
            Radix:
            <input type="number" min="2" max="36" ng-model="radix">
        </label>
        <span>Decimal point:
            <label ng-repeat="value in possibleDelimiters">
                <input type="radio"
                       ng-model="$parent.delimiter"
                       ng-value="value">
                {{value}}
            </label>
        </span>
        <span>Current delimiter: {{delimiter}}</span>
    </div>
    <div>
        <label>
            Fraction limit (for division):
            <input type="number" ng-model="fractionLimit">
        </label>
    </div>
    <div>
        <h2>Actions</h2>
        <div ng-repeat="(PROP, value) in actions">
            <label>
                {{PROP}}: <input type="radio"
                                 ng-model="$parent.action"
                                 name="action"
                                 ng-value="value">
            </label>
        </div>
    </div>
    <div class="container">
        <h2>Arguments</h2>
        <input ng-repeat="(index, value) in args" ng-model="args[index]">
    </div>
    <div>
        <button ng-hide="args.count <= 2" class="sqr-btn" ng-click="removeArg()">-</button>
        <button class="sqr-btn" ng-click="addArg()">+</button>
        <button ng-click="calculate()">Calculate</button>
    </div>
    <div>Result: <span ng-bind="result"></span></div>
    <div id="output"></div>
</div>
<script src="./node_modules/angular/angular.js"></script>
<!--<script src="../dist/radix-calculator.bundle.js"></script>-->
<script src="../build/node_modules/jquery/dist/jquery.slim.min.js"></script>
<script src="../src/radix-calculator.js"></script>
<script src="./app/app.js"></script>
</body>
</html>